$databases['default']['default'] = array (
  'database' => 'drupal',
  'username' => 'drupal',
  'password' => 'drupal',
  'prefix' => '',
  'host' => 'drupal8database',
  'port' => '',
  'namespace' => 'Drupal\\Core\\Database\\Driver\\mysql',
  'driver' => 'mysql',
);
$settings['install_profile'] = 'standard';
$config_directories['sync'] = 'sites/default/files/config_SI2Xr_DvMKbApBHsfifeFa07qKWbqmS8XQM3eWAbT9SIxqF30AnniNE-GHPgGdz50JsBWKXA6A/sync';
// See https://drupalize.me/blog/201605/custom-drupal-drupal-migrations-migrate-tools
// This will be added to the settings.php file on the Drupal 8 container.
$databases['upgrade']['default'] = array (
  'database' => 'drupal',
  'username' => 'drupal',
  'password' => 'drupal',
  'prefix' => '',
  'host' => 'drupal6database',
  'port' => '3306',
  'namespace' => 'Drupal\\Core\\Database\\Driver\\mysql',
  'driver' => 'mysql',
);
// We are expecting the drupal_6 to exist also: when using
//   drush migrate-upgrade --configure-only
// the key is automatically set to drupal_6,
$databases['drupal_6']['default'] = $databases['upgrade']['default'];
$settings['hash_salt'] = 'whatever-required';
